hr{
    margin: 0px;
}

.footer{
    background-color: var(--my-white);
    padding: 16px;
}

.footer_text{
    color: var(--my-black);
    font-size: 16px;
    font-family: var(--main-font);
}

.footer_list{
    display: none;
}

@media screen and (min-width: 820px) {

    .footer_list{
        display: block;
    }

    .footer{
        display: flex;
        justify-content: space-around;
    }

    .footer_text{
        font-size: 24px;
    }

    .footer_list_title{
        text-transform: uppercase;
        font-family: var(--main-font);
        color: var(--my-grey);
        margin-bottom: 20px;
    }

    .footer_link{
        text-decoration: none;
        color: var(--my-dark-grey);
        margin-left: 8px;
    }

    .footer_list_item{
        display: flex;
        align-items: center;
        margin-bottom: 16px;
    }

}