.header__menu__hamburger {
  width: 24px;
  height: 24px;
  background-image: url("../assets/icons/menu-hamburger.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.header {
  background-color: var(--my-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.container {
  display: flex;
  align-items: center;
}

.header__menu__hamburger {
  padding: 1em;
}

.list__menu {
  display: none;
  position: absolute;
  top: 100%;
  width: 60vw;
}

.container__button:checked~.list__menu {
  display: block;
}

.list__menu__title,
.list__menu__item {
  padding: 1em;
  background-color: var(--my-white);
}

.list__menu__title {
  color: var(--my-orange);
  font-weight: 700;
}

.list__menu__link {
  background: var(--gradient-blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: uppercase;
}

.container__button {
  display: none;
}

.header__container{
  display: flex;
  align-items: center;
}