.header_menu_hamburger {
  width: 24px;
  height: 24px;
  background-image: url("../assets/icons/menu-hamburger.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.header {
  background-color: var(--my-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.container {
  display: flex;
  align-items: center;
}

.header_menu_hamburger {
  padding: 1em;
}

.list_menu {
  display: none;
  position: absolute;
  top: 100%;
  width: 60vw;
}

.container_button:checked~.list_menu {
  display: block;
}

.list_menu_title,
.list_menu_item {
  padding: 1em;
  background-color: var(--my-white);
}

.list_menu_title {
  color: var(--my-orange);
  font-weight: 700;
}

.list_menu_link {
  background: var(--gradient-blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: uppercase;
}

.container_button {
  display: none;
}

.header_container{
  display: flex;
  align-items: center;
}