@import url('./header.css');
@import url('./banner.css');
@import url('./carousel.css');
@import url('./card.css');
@import url('./topics.css');
@import url('./contact.css');

:root {
  --background-color: #EBECEF;
  --mobile-width: 428px;
  --my-orange: #EB9B00;
  --my-white: #ffffff;
  --my-black: #000000;
  --my-dark-blue: #002F52;
  --gradient-blue: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
  --main-font: "Poppins";
  --banner-color: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
}

body {
  background-color: #ebecef;
  font-family: var(--main-font);
}

